body{
    margin: 0 ;  
    padding: 0;
    font-family: sans-serif;
}

.p{
    font-size: 15px;
    color: #232425;
}
.top-container{
    background-color: #636C79;
    padding-bottom: 50px;
    color: #ffffff;
}

nav{
    display: flex;
    justify-content:space-between;
    margin-left:20px;
    margin-right:20px;
}

.logo{
    height: 30px;
    padding-top: 5px;
    /* padding-left: 30px; */
}

.nav-list{
   list-style-type: none;
   display: flex;
   /* margin-left: 500px; */
}

.nav-list-items{
   padding-right: 30px;
}

.nav-btn{
    /* margin-left: 80px; */
    padding: 3px 15px;
    background-color: #636C79;
    border: 1px solid white;
    color: #ffffff;
}

.topimg{
    margin-left: 70px;
    height: 400px;
    width: 450px;
    object-fit: scale-down;
}

.top-img-container{
    display: flex;
    margin-top: 30px;
}

.top-text{
    padding-left: 150px;
}

.top-h1{
    font-size: 60px;
    line-height: 1;
    text-align: left;
}

.top-p{
    line-height: 1.5;
}

input{
    padding: 15px 20px;
    padding-right: 130px;
    padding-left: 50px;
}

.lets-talk-btn{
    padding: 12px 20px; 
    background-color: #74c39e;
    border: none;
    color: #ffffff;
    position: absolute;
    margin-left: -92px;
    margin-top: 5px;
}

.mail-svg{
    position: absolute;
    margin-bottom: 100px;
    margin-top: 5px;
    margin-left: 5px;
}

.target-div{
    text-align: center;
    margin: 60px 60px;
}

.stats{
    display: flex;
    margin: 0 250px;
}

.stat{
    margin-right: 150px;
}

.stat-h2{
    font-size: 35px;
}

.target-div-img{
    height: 400px;
    width: 1000px;
    object-fit: fill;
}

.mid-main-div{
    margin-bottom: 60px;
    margin-left: 50px;
}

.mid-child{
    margin-bottom: 50px
}

.mid-img-1{
    height: 300px;
    width: 400px;   
    object-fit: scale-down;
}

.mid-main-1{
    display: flex;
    align-items: center;
    margin-left: 200px;
}

h1{
    text-align: center;
    margin-bottom: 40px;
}

.mid-main-1-content{
    margin-right: 80px;
}

.mid-btn-1{
    background-color: #74c39e;
    padding: 10px 35px;
    border: none;
    color: #ffffff;
}

.mid-main-2{
    display: flex;
}

.mid-img-2{
    height: 300px;
    width: 400px; 
    object-fit: scale-down;
}

.mid-main-2{
    display: flex;
    align-items: center;
    margin-left: 250px;
}

.mid-main-2-content{
    margin-right: 80px;
}

.mid-btn-2{
    background-color: #74c39e;
    padding: 10px 35px;
    border: none;
    color: #ffffff;
}

.mid-main-3{
    display: flex;
}

.mid-img-3{
    height: 300px;
    width: 400px; 
    object-fit: scale-down;
}

.mid-main-3{
    display: flex;
    align-items: center;
    margin-left: 250px;
}

.mid-main-3-content{
    margin-right: 80px;
}

.mid-btn-3{
    background-color: #74c39e;
    padding: 10px 35px;
    border: none;
    color: #ffffff;
}

.teams-content{
    display: flex;
    justify-content: space-between;
    margin: 0  160px;;
}

.team-members{
    display: flex;
    justify-content: space-between;
    margin: 20px 150px;
}

.team-mate-img{
    height: 350px;
    width: 290px;
}

.see-more{
    background-color: #74c39e;
    color: #ffffff;
    padding: 10px 25px;
    border: none;
    margin-left: 630px;
    margin-bottom: 60px;
}

footer{
    background-color: #10181D;
    padding: 20px 30px;
}

.footer-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 70px;
}

hr{
    margin: Auto;
    border: 1px solid rgb(50, 49, 49);
    align-items: center;
    width: 1100px;    
}

svg{
    height: 40px;
}

.footer-bottom-lists{
    display: flex;
    justify-content: space-between;
    margin: 30px 50px;    
}

ul{
    color: #b8b6b6;
    list-style-type: none;
    line-height: 2.5;
    font-size: 12px;
}

.list-header{
    font-weight: bold;
    font-size: 15px;
    color: #ffffff;
}

ul :hover{
    color: white;
    cursor: pointer;
}

.bars{
    display:none;
}

/* responsive */

@media screen and (max-width: 670px){
    .bars{
        display:inline;
    }

    .ham{
        width:30px;
        margin-top:15px;
    }

    .nav-list{
        display:none;
    }

    .top-img-container{
        flex-direction:column;
    }

    .topimg{
        margin: auto;
        height: 250px;
        width: 320px;
        object-fit: scale-down;
    }

    .top-text{
        padding-left:0px;
    }

    .top-text{
        padding-left: 30px;
    }

    .top-h1{
        font-size: 30px;
        line-height: 1;
        text-align: left;        
    }

    input{
        padding: 15px 20px;
        padding-right: 50px;
        padding-left: 50px;
    }

    .stats{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .stat {
        margin-right: 0;
    }

    .target-div{
        text-align: center;
        margin: 60px 0px;
    }

    .target-div-img{
        height: 300px;
        width: 300px;
    }

    .mid-main-div{
        margin-left:0;
    }

    .mid-main-1{
        flex-direction: column;
    }

    .mid-main-2{
        flex-direction: column;
    }

    .mid-main-3{
        flex-direction: column;
    }

    .mid-main-1{
        margin-left:0;
        flex-direction:column-reverse;
        align-items: center;
    }

    .mid-main-1-content{
        margin-right: 0px;
        margin: 0 30px;
        align-items:center;
    }

    .mid-img-1{
        height: 300px;
        width: 300px;   
        object-fit: scale-down;
    }

    .mid-main-2{
        margin-left:0;
        flex-direction:column;
        align-items: center;
    }

    .mid-main-2-content{
        margin-right: 0px;
        margin: 0 30px;
        align-items:center;
    }

    .mid-img-2{
        height: 300px;
        width: 300px;   
        object-fit: scale-down;
    }

    .mid-main-3{
        margin-left:0;
        flex-direction:column-reverse;
        align-items: center;
    }

    .mid-main-3-content{
        margin-right: 0px;
        margin: 0 30px;
        align-items:center;
    }

    .mid-img-3{
        height: 300px;
        width: 300px;   
        object-fit: scale-down;
    }

    .teams-content{
        flex-direction:column;
        margin: 0 50px;
    }

    .team-members{
        flex-direction:column;
        text-align:center;
        margin: 20px 0px;
    }

    .team-mate{
        margin-bottom:30px;
    }

    .see-more{
        padding: 10px 25px;        
        margin-left: 0px;
        margin-bottom: 60px;
    }

    .footer-top{ 
        flex-direction:column;
        margin: 20px 70px;
    }

    .logo{
        margin-bottom:20px;
    }

    .footer-bottom-lists{
        flex-direction: column;
        margin: 30px 0; 
        text-align:center; 
        justify-content: center;      
    }

    hr{
        width: auto;    
    }

    footer{
        background-color: #10181D;
        padding: 20px 0px;
    }

    ul{
        padding:0;
    }
}